@import "tailwindcss" theme(static);
@import url('https://fonts.googleapis.com/css2?family=Zain&display=swap');
@import "@nuxt/ui";
@theme static {
    --color-goldenrod-500: oklch(0.88 0.15 88);
    --color-trueviolet-500: oklch(0.64 0.16 291);
    --color-tacao-500: oklch(0.79 0.10 66);
}

html,
body,
#__nuxt {
    width: 100%;
    height: 100vh;
    font-family: 'Zain', sans-serif;
}